<div class="row">
    <div class="col-md-12">
        <footer>
            <em>Created by <strong>ven</strong> (2014) |
                <a href="https://github.com/venyii/whosepoints" target="_blank">Github</a> |
                <a href="https://docs.google.com/spreadsheet/pub?key=0AoWYqiSDPBE4dFdCLU1pdW52T3VGZUpOa3VUenVWNHc&output=html" target="_blank">Spreadsheet</a>
            </em>
        </footer>
    </div>
</div>