<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Whose Points Are They Anyway?</title>
    <meta name="description" content="Dive into detailed game and point statistics from the first 8 seasons of the US hit show 'Whose Line Is It Anyway?'">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}

    {#
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    #}

    <link rel="stylesheet" href="/static/min/styles.css?{{ staticVersion }}">
</head>
<body>
<div class="container">
    {% include 'header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'footer.html.twig' %}
</div>

{#
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
#}

{#
<script src="/static/js/vendor/jquery-2.1.0.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script src="/static/js/vendor/highcharts.src.js"></script>
<script src="/static/js/jquery.tableShortener.js"></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/script.js"></script>
#}

<script src="/static/min/scripts.js?{{ staticVersion }}"></script>
</body>
</html>
